
.header {
  display: flex;
  justify-content: space-between;
}
.history {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  height: 80px;
  overflow-y: auto;
  /* Enable vertical scrolling */
}

td {
  padding: 0%;
}
p {
  margin: 0px;
  padding-left: 5px;
  font-size: small;
  color: rgba(111, 111, 111, 0.732);
  font-style: italic;
}

.calculator {
  max-width: 250px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #949494;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.input {
  border: 0;
  margin: 10px 5px 0px 5px;
  padding: 5px;
  font-size: 25px;
  max-width: 91%;
  border-radius: 8px;
}

:focus-visible {
  outline: none;
}


button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  width: 50px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}

button:hover {
  background-color: #f1ddc9;
}

.backspace {
  color: rgb(229, 92, 62);
}
.backspace:hover {
  background-color: rgb(255, 207, 197);
}
/* =============DARK Mode============= */

.dark-mode {
  background-color: #333; /* Dark background color */
  color: #fff;  /* Text color */
}

.dark-mode .input {
  background-color: #333;
  color: white;
}
.dark-mode .history p {
  color: rgb(213, 201, 179);
}

.dark-mode button {
  background-color: #555;
  color: white;
}

.dark-mode button:hover {
  background-color: #777;
}

.dark-mode .backspace {
  color: rgb(249, 120, 91);
}
.dark-mode .backspace:hover {
  background-color:  #777;
}

/* ================ History scroll bar css ==================*/

::-webkit-scrollbar {
  /* width */
  width: 20px;
}

::-webkit-scrollbar-track {
  /* Track */
  background: #e3e3e3;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: orange;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: #777;;
}